.main-body
  .main-body__main-posts
    .message
      .message__message-hedder
        %p.message__message-hedder__name
          Nozomu Machida
        %p.message__message-hedder__time
          2016/10/02 06:27:07
      .message__body
        %p.body
          なるほど

      .message__message-hedder
        %p.message__message-hedder__name
          ryosukemaehira
        %p.message__message-hedder__time
          2016/10/02 06:27:14
      .message__body
        %p.body
          command Enterで送信したい感ある

      .message__message-hedder
        %p.message__message-hedder__name
          ryosukemaehira
        %p.message__message-hedder__time
          2016/10/02 06:27:30
      .message__body
        %p.body
          お腹すいた



