.side-groups

  .side-group
    %p.side-group__name
      sampleグループ
    %p.side-group__message
      まだメッセージはありません。

  .side-group
    %p.side-group__name
      sampleグループ
    %p.side-group__message
      まだメッセージはありません。

  .side-group
    %p.side-group__name
      sampleグループ
    %p.side-group__message
      まだメッセージはありません。



