.side-groups
  .side-group
    .side-group__name
      sampleグループ
    .side-group__message
      まだメッセージはありません。
  .side-group
    .side-group__name
      sampleグループ
    .side-group__message
      まだメッセージはありません。
  .side-group
    .side-group__name
      sampleグループ
    .side-group__message
      まだメッセージはありません。



