.flash {
  width: 100%;
  color: $white;
  text-align: center;
  &__alert {
    background-color: $orange;
  }
  &__notice {
    background-color: $light_blue;
  }
}
// .flash.alert-notice {
//   width: 100%;
//   color: $white;
//   text-align: center;
//   background-color: $green;
//   position: fixed;
// }
