//全体画面

.chat {
  @include clearfix();
  width: 100%;
  min-width: 980px;
  height: 100%;

  //サイドバー

  &__side {
    float: left;
    background-color: #2f3e51;
    min-width: 300px;
    height: 100%;
    padding: 0 20px;

    //サイドバーヘッダー

    &__user {
      @include clearfix();
      height: 100px;
      background-color: #253141;
      width: 300px;
      padding: 0 20px;

      p {
      	float: left;
      	color: #FFFFFF;
      	line-height: 96px;
      	font-weight: bold;
      	font-size: 16px;
      	letter-spacing: 2px;

      }

      &__action {
      	float: right;
      }

    }

  }

}